# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Test / type
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
coverage.xml

# venv
.venv/
venv/

# Editor
.vscode/
.idea/

# Project data
data/
